{% extends 'layouts/base.html.twig' %}

    {% block title 'Inscription' %}

    {% block body %}

        <div class="jumbotron-2 text-center mb-5">
            <div class="intro">

            </div>
        </div>
        <div class="form-title">
            <h1 class=" my-3  text-center">Créer un compte</h1>
        </div>
        {% for message in app.flashes('success') %}
            <div class="flash-notice text-center h3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="flash-notice h3">
                {{ message }}
            </div>
        {% endfor %}


        <div class=" my-5 container">
            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <button type="submit" class="btn btn-lg btn-dark my-3">Envoyer</button>
            {{ form_end(registrationForm) }}

            <h6 class="text-center mt-5">Déjà membre ? <a href="{{ path('app_login') }}">Connectez-vous.</a></h6>



        </div>
    {% endblock %}

