{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}
<section class="login">

      {# {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}#}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
{# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn mb-5">Register</button>
    {{ form_end(registrationForm) }}

</section>
{% endblock %}
