{% extends 'layouts/base.html.twig' %}

{% block title 'Blog' %}

{% block body %}
BLOG


    {% if blogs| length > 0 %}
        <h1 class="mb-4 text-center text-muted ">{{  pluralize(blogs| length, 'Blog') }}</h1>

        {% for row in blogs|batch(3) %}
            <div class="row mb-5">
                {% for blog in row %}
                    <div class="col-md-4">
                        <article class="blog bg-white rounded shadow">
                            <div class="mw-100  rounded-top overflow-hidden">
                                <a href="{{ path('app_blogs_show', {id: blog.id}) }}">
                                    <img src="{{(blog.imageName ? vich_uploader_asset(blog) : asset('images/placeholder.jpg')) |
                                    imagine_filter  ('squared_thumbnail_medium') }}" alt="{{ blog.title }}" class="w-100">
                                </a>
                            </div>
                            <h2 class="h5 pl-3 pt-3">
                                <a href="{{ path('app_blogs_show', {id: blog.id}) }}"
                                                         class="text-secondary text-decoration-none">{{ blog.title }}
                                </a>
                            </h2>
                            <p class="pl-3 pb-3 text-muted "><small>Créer  [OWNER FULL NAME]</small></p>
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
        <p class="h1 mt-5 Text-center-justify">Pas encore d'articles. <a href="{{ path('app_blogs_create') }}">Créez un article</a></p>
    {% endif %}
{% endblock %}
