{% extends 'layouts/base.html.twig' %}

{% block title 'Blog' %}

{% block body %}
BLOG

    <h1>{{ pluralize(blogs | length, 'blogs') }}</h1>
    {% for blog in blogs %}
    <article>
        <h2><a href="{{ path('app_blogs_show', {id: blog.id}) }}">{{ blog.title }}</a></h2>
        <p>{{ blog.article |u.truncate(10, '...', false) }}</p>
        <h4> Par {{ blog.prenom}}  {{ blog.nom }}</h4>
        <p>Créer  {{ blog.createdAt | ago}}</p>
    </article>

    {% endfor %}
{% endblock %}
