{% extends 'layouts/base.html.twig' %}

{% block title 'Blog' %}

{% block body %}
<section class="sec-blog mt-5">

    <div class="contact-jumbotron">
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="contact-title">LE BLOG</h1>
            </div>
        </div>
    </div>


    {% if blogs| length > 0 %}
        <h1 class="my-5 text-center text-muted ">{{  pluralize(blogs| length, 'Article') }}</h1>

        {% for row in blogs|batch(3) %}
            <div class="row mb-5 ">
                {% for blog in row %}
                    <div class="col-md-4">
                        <article class="blog bg-white rounded shadow">
                            <div class="mw-100  rounded-top overflow-hidden">
                                <a href="{{ path('app_blogs_show', {id: blog.id}) }}">
                                    <img src="{{(blog.imageName ? vich_uploader_asset(blog) : asset('images/placeholder.jpg')) |
                                    imagine_filter  ('squared_thumbnail_medium') }}" alt="{{ blog.title }}" class="w-100">
                                </a>
                            </div>
                            <div class="ms-2">
                            <h2 class="h5 pl-3 pt-3">
                                <a href="{{ path('app_blogs_show', {id: blog.id}) }}"
                                                         class="text-secondary text-decoration-none">{{ blog.title }}
                                </a>
                            </h2>
                            <p class="pl-3 pb-3 text-muted "><small>par  {{ blog.prenom}} {{ blog.nom }}</small></p>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
{# <p class="h1 mt-5 Text-center-justify">Pas encore d'articles. <a href="{{ path('app_blogs_create') }}">
    Créez un article</a></p>#}
    {% endif %}

</section>
{% endblock %}
