
{% extends 'layouts/base.html.twig' %}

{% block title blog.title %}

{% block body %}

<article>
    <h1>{{ blog.title }}</h1>
    <p>{{ blog.article }}</p>

</article>
    <a href="{{ path('app_blogs_edit', {id: blog.id}) }}">Modifier</a> |
    <a href="{{ path('app_blogs_delete', {id: blog.id}) }}">Supprimer <input type="hidden" name="csrf_token" value="{{ csrf_token('blog_deletion' ~ blog.id)}} }}" style="display: none"></a> |
    <a href="{{ path('app_blogs') }}">Retour</a>


{% endblock %}
