
{% extends 'base.html.twig' %}

{% block title blog.title %}

{% block body %}

<article>
    <h1>{{ blog.title }}</h1>
    <p>{{ blog.article }}</p>

</article>
    <a href="{{ path('app_blogs_edit', {id: blog.id}) }}">Modifier l'article</a> |
    <a href="{{ path('app_blogs_delete', {id: blog.id}) }}" onclick="addEventListener(confirm('Press a button!\nEither OK or Cancel.'))">Supprimer l'article</a> |
    <a href="{{ path('app_blogs') }}">Retour</a>


{% endblock %}
