{% extends 'layouts/base.html.twig'%}

{% block title 'Gérer les Leçons' %}

{% block body %}

<section class="admin-blog">


    <div class="container mt-2 ">
        <div class="intro">
            <h1 class="my-2 py-2 text-center">TABLEAU DE BORD BLOG</h1>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th class="h4 mb-1">Titre</th>
                <th class="h4 mb-1">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for blog in blogs %}
                <tr>
                    <td class="h5">{{ blog.title }}</td>
                    <td>
                        <a href="{{ path ('app_blogs_edit', {id: blog.id}) }}" class="btn-login btn btn-secondary">Modifier</a>
                        <form method="post" action="{{ path('app_blogs_delete', {id: blog.id}) }}"
                              style="display: inline-block" onsubmit="return confirm('Cette leçon est sur le point ' +
                       'd\'être supprimée')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="token" value="{{ csrf_token('delete' ~ blog.id) }}">
                            <button class="btn btn-danger">supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="btn-intro ">
            <a href="{{ path('app_blogs_create') }}" ><button type="button" class="btn btn-outline-secondary">Créer un article</button></a>

        </div>
    </div>

    <div class="container">
        {% for blog in blogs %}
        {% endfor %}
    </div>


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

</section>

{% endblock %}
