{% extends 'layouts/base.html.twig' %}


{% block title 'Accueil'%}

{% block body %}

    <section class="accueil">
        <div class="">

            <div class="intro text-center mt-5">
                <h1>Au service des particuliers, professionnels et élus locaux </h1>

                <p class="mt-3 px-4 fw-bolder">
                    KAT Conseil vous propose une expertise en Droit de l’Urbanisme, Accessibilité handicap ainsi qu’un
                    accompagnement dans vos Démarches Administratives.
                </p>

                <div class="btn-intro text-center">
                    <a href="{{ path('app_contact') }}"><button type="button" class="btn btn-outline-secondary">Contactez-nous</button></a>
                </div>

            </div>


            <div class="container-1 ">
            <div class="card rounded shadow py-1" style="width: 30rem">
                <img class="picmex rounded " src="{{ asset('/build/images/images/katcon3-1.jpg') }}" alt="Droit de l'urbanisme">
                <div class="card-body">
                    <h4 class=""><a href="{{ path('app_tarifs') }}">NOTRE EXPERTISE</a></h4>
                    <p class="h5">KAT Conseil vous propose une réponse individualisée au juste prix. <br><a href="{{ path('app_tarifs') }}">Consulter </a></p>

                </div>
            </div>


                <div class="card rounded shadow py-1 " style="width: 30rem">
                    <img class="picblog rounded" src="{{ asset('/build/images/images/katcon1-1.jpg') }}" alt="L'accessibilité au quotidien">
                    <div class="card-body">
                        <h4 class=""><a href="{{ path('app_blogs') }}">RESSOURCES</a></h4>
                        <p class="h5"> Dans cette rubrique, retrouvez nos conseils et l'actualité du moment.
                            <br>
                            <a href="{{ path('app_blogs') }}">Consulter</a></p>
                    </div>
                </div>

        </div>
        </div>
        <div>

            <blockquote class="blockquote mb-4">
                <img class="mt-4 quote" src="{{ asset('/build/images/images/quotes.png') }}" alt="quotes">
                <p class=" interm mt-1  text-center fw-bolder fst-italic">
                    "Accompagner quelqu'un, c'est se placer ni devant, ni derrière, ni à sa place.
                    <br>C'est être à côté."
                    <br><span class="text-end">Joseph Templier</span>
                </p>

            </blockquote>
        </div>
    </section>

    <section class="about my-5">

        <div class="about-box">

            <div class="p-about">
                <h6 class="about-title">Le mot de la fondatrice : Anaïs GUEDIN</h6>

            </div>

            <div class="clearfix">
                 <img src="{{ asset('/build/images/images/anaïs_pic.jpg') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Anaïs Guedin">
                <p class="accroche">
                    KAT CONSEIL, né pour faciliter vos démarches administratives et vous apporter une analyse
                    technico-juridique dans le domaine de l'urbanisme et de l'accessibilité.
                </p>
                <h4>Mon parcours en quelques mots...</h4>
                <p>
                    J’ai commencé ma carrière par une expérience d’une dizaine d’années dans l’administration.
                    Les ressources humaines et l’urbanisme étaient mes domaines de prédilection.
                </p>

                <p>
                    En matière de ressources humaines, j’appréciais tout particulièrement conseiller ma direction et
                    apporter des réponses réglementaires aux agents afin de garantir l’équité.
                </p>

                <p>
                    En urbanisme, j’ai apprécié mettre mon expertise au profit des élus, en sécurisant la rédaction de
                    leurs actes et en leur apportant mon analyse de terrain.
                </p>
                <p>
                    Tant en accessibilité qu’en urbanisme, j’ai également pris un réel plaisir à recevoir les
                    pétitionnaires pour les écouter présenter leur projet de vie : la construction de leur maison,
                    l’installation de leur entreprise, la construction de leur piscine, l’extension de leur habitation…
                    afin de leur apporter une réponse réglementaire circonstanciée.
                </p>

                <p>
                    Parallèlement, cela fait plus de dix ans que je partage ma passion pour la danse avec des enfants,
                    adolescents et adultes sur le territoire de la Haute-Saône.
                </p>

                <p>
                    Je pense qu’il est temps désormais de mettre à profit mes compétences acquises par mon expérience
                    professionnelle, bénévole ainsi que ma formation universitaire spécialisée en droit, économie et
                    gestion au profit des personnes souhaitant être accompagnées dans leurs démarches administratives.
                </p>

                <h4>Pourquoi se lancer maintenant ?</h4>

                <p class="accroche">
                    Le contexte national :
                </p>

                <p>
                    Constatant un recul des services publics de proximité spécialisés et une demande croissante de
                    dématérialisation des formalités administratives, la création d’une structure d’accompagnement des
                    particuliers et entreprises me semblait opportun.
                </p>

                <p class="accroche">
                    Ma motivation personnelle pour l’ouverture de ce cabinet
                </p>

                <ul>
                    <li>Humaniser d’avantage mon quotidien de travail ;</li>
                    <li>Accompagner et apporter une réponse adaptée aux besoins des particuliers et professionnels ;</li>
                    <li>Mettre mes compétences au service des personnes souhaitant diminuer leur charge mentale ou se
                        concentrer sur leur domaine d’expertise.
                    </li>
                </ul>

                <p>
                    Et puis, il ne faut pas oublier l’essentiel, j’aime faire des entretiens individuels pour appréhender
                    au mieux les besoins de chacun et je prends un réel plaisir à faire des recherches juridiques pour
                    proposer une réponse adaptée à chaque situation…
                </p>

                <p class="accroche">
                    Aujourd’hui, j’espère devenir votre clef pour ouvrir les portes de l’administration et ainsi
                    participer à la réalisation de votre projet personnel ou professionnel.
                </p>
            </div>


        </div>


    </section>

{% endblock %}
