{% extends 'layouts/base.html.twig' %}

{% block title 'Accueil'%}

{% block body %}

    <section class="accueil">
        <div class="">

            <div class="intro">

                <p class="mt-5">
                    Kat Conseil Vous propose une expertise en Droit de l’Urbanisme, Accessibilité handicapés ainsi qu’un
                    accompagnement dans vos Démarches Administratives.
                </p>
                <div class="btn-intro">
                    <a href="{{ path('app_contact') }}"><button type="button" class="btn btn-login">Contactez-Nous</button></a>
                </div>

            </div>


            <div class="container-1 ">
            <div class="card" style="width: 30rem">
                <img class="picmex" src="{{ asset('build/images/images/modernhouse.jpg') }}" alt="">
                <div class="card-body">
                    <h4 class="">MON EXPERTISE</h4>
                    <p>Kat Conseil Vous propose une expertise en Droit de l’Urbanisme, Accessibilité handicapés ainsi qu’un
                        accompagnement dans vos Démarches Administratives <a href="{{ path('app_tarifs') }}">...</a></p>

                </div>
            </div>


                <div class="card" style="width: 30rem">
                    <img class="picblog" src="{{ asset('/build/images/images/blognews.jpg') }}" alt="">
                    <div class="card-body">
                        <h4 class="">RESSOURCES</h4>
                        <p> Vous propose une expertise en Droit de l’Urbanisme, Accessibilité handicapés ainsi qu’un
                            accompagnement dans vos Démarches Administratives <a href="{{ path('app_blogs') }}">...</a></p>
                    </div>
                </div>

        </div>
        </div>
        <div>

            <blockquote class="blockquote">
                <p class=" interm mt-5 text-center ">
                    "Accompagner quelqu'un, c'est se placer ni devant ni derrière, ni à sa place. C'est être à côté."
                    <span>Joseph Templier</span>
                </p>
            </blockquote>
        </div>
    </section>

    <section class="about">

        <div class="container">

            <div class="img-about">
                <img src="{{ asset('/build/images/images/pic-about.jpg') }}" alt="">
            </div>

            <div class="p-about">
                <h2 class="about-title">À PROPOS</h2>
                <p>
                    <span>Gummies candy bear claw wafer biscuit chupa chups</span>. Fruitcake chupa chups sweet chupa chups gummies
                    macaroon. Apple pie jelly gummies apple pie caramels. Tootsie roll fruitcake chocolate bar pastry 
                    fruitcake caramels.Gummies jujubes pudding lollipop sugar plum danish. Jelly-o sesame snaps bonbon 
                    toffee pastry macaroon brownie donut candy canes. Chupa chups jelly beans cupcake cookie carrot cake 
                    soufflé. Cake marzipan dessert sweet sweet roll candy canes. Tart carrot cake sesame snaps wafer oat 
                    cake danish sugar plum. Toffee donut cheesecake halvah wafer sweet sweet roll gingerbread.
                    Bonbon macaroon chupa chups chocolate bar macaroon.
                    acaroon. Apple pie jelly gummies apple pie caramels. Tootsie roll fruitcake chocolate bar pastry
                    fruitcake caramels.Gummies jujubes pudding lollipop sugar plum danish. Jelly-o sesame snaps bonbon
                    toffee pastry macaroon brownie donut candy canes. Chupa chups jelly beans cupcake cookie carrot cake
                    soufflé. Cake marzipan dessert sweet sweet roll candy canes. Tart carrot cake sesame snaps wafer oat
                    cake danish sugar plum. Toffee donut cheesecake halvah wafer sweet sweet roll gingerbread.
                    Bonbon macaroon chupa chups chocolate bar macaroon.


                </p>
            </div>


        </div>


    </section>

{% endblock %}
