{% extends 'layouts/base.html.twig' %}

{% block title 'Accueil'%}

{% block body %}

    <section class="accueil">
        <div class="">

            <div class="intro pb-3">

                <p class="mt-5 px-4 fw-bolder">
                    Kat Conseil Vous propose une expertise en Droit de l’Urbanisme, Accessibilité handicapés ainsi qu’un
                    accompagnement dans vos Démarches Administratives.
                </p>
                <div class="btn-intro">
                    <a href="{{ path('app_contact') }}"><button type="button" class="btn btn-login">Contactez-Nous</button></a>
                </div>

            </div>


            <div class="container-1 ">
            <div class="card rounded shadow" style="width: 30rem">
                <img class="picmex" src="{{ asset('/build/images/images/katcons3.jpg') }}" alt="">
                <div class="card-body">
                    <h4 class=""><a href="{{ path('app_tarifs') }}">MON EXPERTISE</a></h4>
                    <p class="h5">Kat Conseil Vous propose Une réponse individualisée au juste prix. <br><a href="{{ path('app_tarifs') }}">Consulter </a></p>

                </div>
            </div>


                <div class="card rounded shadow" style="width: 30rem">
                    <img class="picblog" src="{{ asset('/build/images/images/katcon1.JPG') }}" alt="">
                    <div class="card-body">
                        <h4 class=""><a href="{{ path('app_blogs') }}">RESSOURCES</a></h4>
                        <p class="h5"> Dans cette rubrique, retrouver nos conseils et recommendations en matière de....
                            <br>
                            <a href="{{ path('app_blogs') }}">Consulter</a></p>
                    </div>
                </div>

        </div>
        </div>
        <div>

            <blockquote class="blockquote">
                <img class="mt-4 quote" src="{{ asset('/build/images/images/quotes.png') }}" alt="">
                <p class=" interm mt-1 text-center fw-bolder fst-italic">
                    Accompagner quelqu'un, c'est se placer ni devant ni derrière, ni à sa place. C'est être à côté.
                    <br>
                    <span class="text-end">Joseph Templier</span>
                </p>
                <img class="mt-4 img-end quote" src="{{ asset('/build/images/images/quotes.png') }}" alt="">
            </blockquote>
        </div>
    </section>

    <section class="about">

        <div class="container">

            <div class="img-about">
                <img src="{{ asset('/build/images/images/pic-about.jpg') }}" alt="">
            </div>

            <div class="p-about">
                <h2 class="about-title">À PROPOS</h2>
                <p>
                    <span>Gummies candy bear claw wafer biscuit chupa chups</span>. Fruitcake chupa chups sweet chupa chups gummies
                    macaroon. Apple pie jelly gummies apple pie caramels. Tootsie roll fruitcake chocolate bar pastry 
                    fruitcake caramels.Gummies jujubes pudding lollipop sugar plum danish. Jelly-o sesame snaps bonbon 
                    toffee pastry macaroon brownie donut candy canes. Chupa chups jelly beans cupcake cookie carrot cake 
                    soufflé. Cake marzipan dessert sweet sweet roll candy canes. Tart carrot cake sesame snaps wafer oat 
                    cake danish sugar plum. Toffee donut cheesecake halvah wafer sweet sweet roll gingerbread.
                    Bonbon macaroon chupa chups chocolate bar macaroon.
                    acaroon. Apple pie jelly gummies apple pie caramels. Tootsie roll fruitcake chocolate bar pastry
                    fruitcake caramels.Gummies jujubes pudding lollipop sugar plum danish. Jelly-o sesame snaps bonbon
                    toffee pastry macaroon brownie donut candy canes. Chupa chups jelly beans cupcake cookie carrot cake
                    soufflé. Cake marzipan dessert sweet sweet roll candy canes. Tart carrot cake sesame snaps wafer oat
                    cake danish sugar plum. Toffee donut cheesecake halvah wafer sweet sweet roll gingerbread.
                    Bonbon macaroon chupa chups chocolate bar macaroon.


                </p>
            </div>


        </div>


    </section>

{% endblock %}
